<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Core" version="1.1.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.1.1" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.HttpListener" version="0.21.0-pre" targetFramework="net40" />
  <package id="Microsoft.Owin.Hosting" version="0.21.0-pre" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="ServiceStack" version="4.0.9" targetFramework="net40" />
  <package id="ServiceStack.Client" version="4.0.9" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.9" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.9" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="4.0.9" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.9" targetFramework="net40" />
</packages>